body{
    background-image: url(../image/bglog.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.sign{
    display: flex;
    width: 700px;
    height: 100vh;
    border-right: 2px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #FFFFFF;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3{
        color: #737373;
    }

    h1 {
        font-size: 30px;
    }

    input {
        width: 460px;
        height: 55px;
        border-radius: 10px;
        background-color: transparent;
        border: 1px solid #A3A3A3;
    }

    .sign-up-btn {
        width: 468px;
        height: 54px;
        background-color: #EF4444;
        color: #FFFFFF;
        font-size: 20px;
        border: none;
        border-radius: 10px;
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}
a{
    text-decoration: none;
}
.txt {
    color: #737373;
    font-size: 16px;
    text-decoration: none;
}
.red {
    color: #EF4444;
    font-size: 16px;
    text-decoration: none;
}
.data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
