body{
    display: flex;
    background-image: url(../image/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
a{
    text-decoration: none;
    color: #FAFAFA;
}
.nav{
    display: flex;
    flex-direction: column;
    background-color: #171717;
    height: 100vh;
    width: 350px;
}
.svg{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.mainnav{
    display: flex;
    margin: 0 auto;
    color: #FAFAFA;
    white-space: nowrap;
    flex-direction: column;
}
.nav-item {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    margin-bottom: 10px;
    color: #888;
    transition: all 0.3s ease;
}

.nav-item .text {
    color: #888;
}

.nav-item .text:hover {
    color: #fff;
}

.nav-item:first-child .text {
    color: #fff;
}

.nav-item:first-child .text:hover {
    color: #fff;
}
.nav-item .photo {
    margin-right: 10px;
    font-size: 18px;
}
.nav-item:hover {
    color: #fff;
}

.profile-image {
    background-color: rgba(212, 212, 212, 0.25);
    padding: 25px;
    position: absolute;
    top: 25px;
    right: 25px;
    width: 15px;
    height: 15px;
    display: flex;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
}
.netext{
    color: white;
    font-size: 16px;
}
.worldnews{
    margin: 50px 35px 50px 35px;
    gap: 15px;
}
.text{
    font-size: 20px;
}
.link{
    display: flex;
    width: 170px;
    height: 31px;
    color: #FAFAFA;
    background-color: #EF4444;
    border-radius: 2.5px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    font-size: 14px;
}
.news{
    display: flex;
    margin: 0px 35px 50px 35px;
    gap: 42px;
}
.news2{
    display: flex;
    transform: translateX(-115px);
    margin-top: 50px;
}
.newsband{
    margin-top: 25px;
    height: 300px;
    width: 355px;
    gap: 10px;
    background-color: #171717;
    border-radius: 5px;
}
.photoband{
    width: 355px;
    height: 193px;
    margin: 0px 5px 0px 5px;
}
.band{
    margin: 14px 10px 14px 10px;
    gap: 10px;
}
.textband{
    display: flex;
    font-size: 8px;
    background-color: #EF4444;
    width: 165px;
    height: 13px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.twotextband{
    font-size: 16px;
    margin-bottom: 10px;
}
.linkband{
    display: flex;
    font-size: 12px;
    border: 1px solid #FAFAFA;
    height: 22px;
    width: 101px;
    border-radius: 2.5px;
    align-items: center;
    justify-content: center;
}
.linkband:hover{
    background-color: #EF4444;
}
.newshero{
    height: 300px;
    width: 355px;
    background-color: #171717;
    margin-left: 40px;
    margin-top: 24px;
    border-radius: 5px;
}
.photohero{
    height: 193px;
    width: 400px;
}
.hero{
    margin: 14px 10px 14px 10px;
}
.texthero{
    display: flex;
    background-color: #EF4444;
    width: 165px;
    height: 16px;
    font-size: 8px;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.twotexthero{
    font-size: 16px;
    margin-bottom: 10px;
}
.linkhero{
    display: flex;
    font-size: 12px;
    border: 1px solid #FAFAFA;
    height: 22px;
    width: 101px;
    border-radius: 2.5px;
    align-items: center;
    justify-content: center;
}
.linkhero:hover{
    background-color: #EF4444;
}
