a{
    text-decoration: none;
}
nav{
    width: 275px;
    height: 720px;
    background-color: #171717;
    margin: 0 auto;
}
.navtext{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0px auto;
}